<table>
    <thead>
        <tr>
            <td><br> <br> <br></td>
            <td>Id</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Street</td>
            <td>City</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts">
            <td> <button id="view-contact-button" routerLink="/contacts/{{contact.id}}"> View Contact </button></td>
            <td>
             {{contact.id}}
            </td>
            <td>{{contact.firstName}}</td>
            <td>{{contact.lastName}}</td>
            <td>{{contact.street}}</td>
            <td>{{contact.city}}</td>
        </tr>
    </tbody>
</table>